node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.wwebjs_auth/
.vercel
*.zip
*.exe
backup/
.claude/
backup/
*.exe
*.zip
node_modules/
backup/
../backup/../backup/ 
.wwebjs_auth/ 
google.json